<div class='card'>
    <div class='card-header'>
        ProductList
    </div>
    <div class='card-body'>
        <div class=row>
            <div class='col-md-2'>Filter by: </div>
            <div class='col-md-4'>
                <input type='text' />
            </div>
            <div class='row'>
                <h4>Filtered By: </h4>
            </div>
        </div>
    </div>
    <div class='table-responsive'>
        <table class='table'>
            <thead>
                <tr>
                    <th>
                        <button class='btn btn-primary'>
                            Show Image
                        </button>  
                    </th>
                    <th>Product</th>
                    <th>Code</th>
                    <th>Available</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbodt>

            </tbodt>
        </table>
    </div>
</div>